.container-form {
  background-color: lightseagreen;
  .title-form {
    background-color: rgb(206, 201, 201);
  }

  .formulario__info {
    display: flex;
    justify-content: space-around;
    background-color: rgb(226, 225, 225);
  }
}
